# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/

# Environment variables (САМОЕ ВАЖНОЕ)
.env
.env.local
.env.*.local

# Editor files
.vscode/
.idea/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db

# Vercel
.vercel